tests/src/test/resources/wsdl/yp.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
  ~ Copyright (c) 2014 Magnet Systems, Inc.
  ~ All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You
  ~ may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.magnet.com"
            targetNamespace="http://www.magnet.com">
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listOfObject">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="xsd:string"/>
      <xsd:element minOccurs="0" name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listOfFindResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="ns0:findResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="address" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cell" type="xsd:string"/>
      <xsd:element minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="home" type="xsd:string"/>
      <xsd:element minOccurs="0" name="imageId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="title" type="xsd:string"/>
      <xsd:element minOccurs="0" name="work" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Exception" type="ns0:Exception"/>
  <xsd:element name="findAll" type="ns0:findRequest"/>
  <xsd:element name="match" type="xsd:string"/>
  <xsd:element name="getImage" type="xsd:string"/>
  <xsd:element name="find" type="ns0:findRequest"/>
</xsd:schema>