tests/src/test/resources/wsdl/yp.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
  ~ Copyright (c) 2014 Magnet Systems, Inc.
  ~ All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You
  ~ may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.magnet.com/yp"
            xmlns:ns1="http://www.magnet.com" targetNamespace="http://www.magnet.com/yp">
  <xsd:import namespace="http://www.magnet.com" schemaLocation="yp.1.xsd"/>
  <xsd:element name="FindResponseList" type="ns1:listOfFindResponse"/>
  <xsd:element name="ImageByteArray" type="xsd:base64Binary"/>
  <xsd:element name="FindResponseMatchList" type="ns1:listOfFindResponse"/>
  <xsd:element name="FindResponse" type="ns1:findResponse"/>
</xsd:schema>