tests/src/test/resources/wsdl/yp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
  ~ Copyright (c) 2014 Magnet Systems, Inc.
  ~ All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You
  ~ may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.magnet.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="YellowPagesService"
             targetNamespace="http://www.magnet.com">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.magnet.com" schemaLocation="yp.1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.magnet.com/yp" schemaLocation="yp.2.xsd"/>
    </xsd:schema>
  </types>
  <message name="findAll">
    <part element="tns:findAll" name="findAll"/>
  </message>
  <message name="findAllResponse">
    <part xmlns:ns1="http://www.magnet.com/yp" element="ns1:FindResponseList" name="FindResponseList"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="getImage">
    <part element="tns:getImage" name="getImage"/>
  </message>
  <message name="getImageResponse">
    <part xmlns:ns2="http://www.magnet.com/yp" element="ns2:ImageByteArray" name="ImageByteArray"/>
  </message>
  <message name="find">
    <part element="tns:find" name="find"/>
  </message>
  <message name="findResponse">
    <part xmlns:ns3="http://www.magnet.com/yp" element="ns3:FindResponse" name="FindResponse"/>
  </message>
  <message name="list"/>
  <message name="listResponse">
    <part xmlns:ns4="http://www.magnet.com/yp" element="ns4:FindResponseList" name="FindResponseList"/>
  </message>
  <message name="match">
    <part element="tns:match" name="match"/>
  </message>
  <message name="matchResponse">
    <part xmlns:ns5="http://www.magnet.com/yp" element="ns5:FindResponseMatchList" name="FindResponseMatchList"/>
  </message>
  <portType name="YellowPagesPortType">
    <operation name="findAll">
      <input message="tns:findAll" wsam:Action="http://www.magnet.com/YellowPagesPortType/findAllRequest"/>
      <output message="tns:findAllResponse" wsam:Action="http://www.magnet.com/YellowPagesPortType/findAllResponse"/>
      <fault message="tns:Exception" name="Exception"
             wsam:Action="http://www.magnet.com/YellowPagesPortType/findAll/Fault/Exception"/>
    </operation>
    <operation name="getImage">
      <input message="tns:getImage" wsam:Action="http://www.magnet.com/YellowPagesPortType/getImageRequest"/>
      <output message="tns:getImageResponse" wsam:Action="http://www.magnet.com/YellowPagesPortType/getImageResponse"/>
      <fault message="tns:Exception" name="Exception"
             wsam:Action="http://www.magnet.com/YellowPagesPortType/getImage/Fault/Exception"/>
    </operation>
    <operation name="find">
      <input message="tns:find" wsam:Action="http://www.magnet.com/YellowPagesPortType/findRequest"/>
      <output message="tns:findResponse" wsam:Action="http://www.magnet.com/YellowPagesPortType/findResponse"/>
      <fault message="tns:Exception" name="Exception"
             wsam:Action="http://www.magnet.com/YellowPagesPortType/find/Fault/Exception"/>
    </operation>
    <operation name="list">
      <input message="tns:list" wsam:Action="http://www.magnet.com/YellowPagesPortType/listRequest"/>
      <output message="tns:listResponse" wsam:Action="http://www.magnet.com/YellowPagesPortType/listResponse"/>
      <fault message="tns:Exception" name="Exception"
             wsam:Action="http://www.magnet.com/YellowPagesPortType/list/Fault/Exception"/>
    </operation>
    <operation name="match">
      <input message="tns:match" wsam:Action="http://www.magnet.com/YellowPagesPortType/matchRequest"/>
      <output message="tns:matchResponse" wsam:Action="http://www.magnet.com/YellowPagesPortType/matchResponse"/>
      <fault message="tns:Exception" name="Exception"
             wsam:Action="http://www.magnet.com/YellowPagesPortType/match/Fault/Exception"/>
    </operation>
  </portType>
  <binding name="YellowPagesPortTypePortBinding" type="tns:YellowPagesPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="find">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="list">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="match">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="YellowPagesService">
    <port binding="tns:YellowPagesPortTypePortBinding" name="YellowPagesPortTypePort">
      <soap:address location="http://ec2-54-235-127-73.compute-1.amazonaws.com:7001/yp/YellowPagesService"/>
    </port>
  </service>
</definitions>