tests/src/test/resources/wadl/bookshop.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2014 Magnet Systems, Inc.
  ~ All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You
  ~ may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<!--
Modified version of wadl
1. consolidate all repetitive nsN namespaces for each element under representation to
a single top-level namespace under application : xmlns:ns3 .
This is a Apache CXF wadl2java restriction
-->
<ns0:application xmlns:ns0="http://wadl.dev.java.net/2009/02" xmlns:ns3="http://bookshop">
  <ns0:doc xmlns:ns1="http://jersey.java.net/" ns1:generatedBy="Jersey: 1.9 09/02/2011 11:17 AM"/>
  <ns0:grammars>
    <ns0:include href="bookshop.xsd">
      <ns0:doc title="Generated" xml:lang="en"/>
    </ns0:include>
  </ns0:grammars>
  <ns0:resources base="http://localhost:7001/bookshopRest/resources/">
    <ns0:resource path="/categoryservice">
      <ns0:resource path="/category/{id}">
        <ns0:param name="id" style="template" xmlns:ns2="http://www.w3.org/2001/XMLSchema" type="ns2:string"/>
        <ns0:method id="getCategory" name="GET">
          <ns0:response>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:response>
        </ns0:method>
        <ns0:method id="deleteCategory" name="DELETE">
          <ns0:response>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:response>
        </ns0:method>
      </ns0:resource>
      <ns0:resource path="/category">
        <ns0:method id="addCategory" name="POST">
          <ns0:request>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:request>
          <ns0:response>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:response>
        </ns0:method>
        <ns0:method id="updateCategory" name="PUT">
          <ns0:request>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:request>
          <ns0:response>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:response>
        </ns0:method>
      </ns0:resource>
      <ns0:resource path="/category/{id}/books">
        <ns0:param name="id" style="template" xmlns:ns9="http://www.w3.org/2001/XMLSchema" type="ns9:string"/>
        <ns0:method id="getBooks" name="GET">
          <ns0:response>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:response>
        </ns0:method>
        <ns0:method id="addBooks" name="POST">
          <ns0:request>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:request>
          <ns0:response>
            <ns0:representation element="ns3:Category" mediaType="application/xml"/>
          </ns0:response>
        </ns0:method>
      </ns0:resource>
    </ns0:resource>
  </ns0:resources>
</ns0:application>
