tests/src/test/resources/wadl/bookshop.xsd

<!--
  ~ Copyright (c) 2014 Magnet Systems, Inc.
  ~ All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you
  ~ may not use this file except in compliance with the License. You
  ~ may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~ implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<!-- use simple global binding to force XmlRootElement annotation for allowing serialization of Jaxb -->
<xsd:schema xmlns:ns0="http://bookshop" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bookshop"
            elementFormDefault="qualified"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="1.0"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">
  <xsd:annotation>
    <xsd:appinfo>
      <jaxb:globalBindings>
        <xjc:simple/>
      </jaxb:globalBindings>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="category">
    <xsd:sequence>
      <xsd:element name="books" type="ns0:book" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="categoryId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="categoryName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="book">
    <xsd:sequence>
      <xsd:element name="author" type="xsd:string" minOccurs="0"/>
      <xsd:element name="bookISBNnumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="bookId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="bookName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Book" type="ns0:book"/>
  <xsd:element name="Category" type="ns0:category"/>
</xsd:schema>

